<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ExportCompanyName" value="false"/>
    <add key="ExportName" value="true"/>
    <add key="ExportPhone" value="true"/>
    <add key="ExportGSNB" value="false"/>
    <add key="ExportMorePhone" value="true"/>
    <add key="ExportZuoJi" value="false"/>
    <add key="FilterSamePhone" value="false"/>
    <add key="FileRowNum" value="300"/>
    <add key="FilterCompanyName" value="银行|超市|连锁|快递|快运|商贸|速运|速递|药房|药店|旅行社|旅游|中国|联通|电信|移动|保险|农资|营业厅|劳务"/>
    <add key="SaveDir" value=""/>
    
  </appSettings>
</configuration>